* {
    background: lightcyan;
}

.container {
    margin: 100px;
    margin-left: 270px;
}

header {
    margin: 100px;
    margin-left: 270px;
    margin-right: 200px;
}

header p {
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    font-family: Exo;
    border: 5px double black;
}

nav li {
    display: inline-block;
    padding: 10px;
}

ol.nav {
    list-style-type: none;
    margin-up: 50px;
    text-align: right;
    margin-bottom: 10%;
}

ol.contact {
    margin-top: 20px;
    text-align: center;
}

main div p {
    color: #0a1d3d;
    size: 12px;
    font-family: Noto Sans;
    line-height: 50px;
}

.pix3 {
    width: 180px;
    margin: 30px;
    margin-bottom: 80px;   
    display: inline;
    border: 2px double black;   
}

.button-chart {
    position: absolute;
    height: 60px;
    width: 250px;
    background-color: #274b87;
    color: white;
    /* display: block;
    align-content: center;   */
    top: 1530px;
    right: 500px;
}






















